@model ScrapeIT.Web.Mvc.Models.ExecuteMapModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>MapTest resultaat</h2>

<table>
    <tr>
        <td>Kan gemapd worden</td>
        <td>@Model.CanBeMapped</td>
    </tr>
    @if (Model.IsCombined)
    {
        <tr>
            <td>CombinedMapping ID</td>
            <td>
                @foreach (var mappingId in Model.MappingIDCombined)
                {
                    @Html.ActionLink(mappingId.ToString(), "ViewMappingsForId", new { mappingID = mappingId })<br />
                }
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>Mapping ID</td>
            <td>@Html.ActionLink(Model.MappingID ?? "No mapping present", "ViewMappingsForId", new { mappingID = Model.MappingID })
            
            @if(string.IsNullOrEmpty(Model.MappingID))
                {
                    @Html.ActionLink("Add blob to mapping queue", "AddUrlToMappingQueue", new { address = "Model.Uri" })
                }            
            </td>
        </tr>
    }

    <tr>
        <td>Aantal dataobjects</td>
        <td>@Model.DataObjectsCount</td>
    </tr>
    <tr>
        <td>Aantal repeating data objects</td>
        <td>@Model.RepeatingDataObjectsCount</td>
    </tr>
    @if (Model.Exception != null)
    {
        <tr>
            <td>Exception</td>
            <td>@Model.Exception.Message</td>
        </tr>
    }
</table>

<hl />
<h3>DataObjects</h3>
@if (Model.DataObjects != null)
{
    @await Html.PartialAsync("_PocoObjectView", Model.DataObjects)
}
else
{
    <p>DataObjects is null</p>
}



<hl />
<h3>RepeatingDataObjects</h3>
@if (Model.RepeatingDataObjects != null)
{
    @await Html.PartialAsync("_PocoObjectView", Model.RepeatingDataObjects)
}
else
{
    <p>Repeating dataobjects is null</p>
}






