@model ScrapeIT.Web.Mvc.Models.MappingModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (ScrapeIT.Framework.Business.Base.Mapping mapping in Model.Mappings)
    {
        <tr>
            <td>
                @mapping.Domain.HostName (@mapping.Id)
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @using (Html.BeginForm("DeleteMapping", "Mappings"))
                {
                    <input name="id" type="hidden" value='@mapping.GetUniqueId()' />
                    <button type="submit">Delete</button>
                }

                <div style="float:right">
                    @Html.ActionLink("Delete all of this domain", "DeleteMappingForDomain", new { id = mapping.Domain.GetUniqueId() })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table">
                    <colgroup>
                        <col width="300" style="max-width:300px;" />
                        <col width="50" />
                        <col width="300" />
                    </colgroup>
                    <tr>
                        <th>From</th>
                        <th></th>
                        <th>To</th>
                    </tr>
                    @foreach (ScrapeIT.Framework.Business.Base.MappingElement element in mapping.Elements.OrderBy(e => e.Path))
                    {
                        <tr>
                            <td>@element.Path</td>
                            <td><span class="glyphicon glyphicon-arrow-right"></span></td>
                            <td>@element.DbTableName</td>
                            <td>
                                @if (string.IsNullOrEmpty(element.DbName))
                                {
                                    @Html.ActionLink("(empty)", "EditMappingElement", new { id = element.GetUniqueId(), returnPage = Model.Url })
                                }
                                else
                                {
                                    @Html.ActionLink(element.DbName, "EditMappingElement", new { id = element.GetUniqueId(), returnPage = Model.Url })
                                }
                            </td>


                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>
