@model ScrapeIT.Web.Mvc.Models.ScheduleOverviewModel
<h1>@Model.CustomerName</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Verloopt</th>
            <th>Gewijzig</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerSchedule in Model.CustomerSchedules)
        {
            <tr class="@customerSchedule.GetCssClass()">
                <td></td>
                <td>@customerSchedule.JobName</td>
                <td>@customerSchedule.Description</td>
                <td>@customerSchedule.ExpirationDateTimeUtc.ToString("dd-MM-yyyy H:mm")</td>
                <td>@customerSchedule.EditedOnDate?.ToString("dd-MM-yyyy H:mm")</td>
            </tr>
        }
    </tbody>
</table>

<table>
    @foreach (var alert in Model.OtherAlerts)
    {
        <tr>
            <td></td>
            <td>@alert.Prefix</td>
            <td>@alert.JobName</td>
            <td>@alert.Description</td>
        </tr>
    }
</table>